.about {
  padding-top: 20px;
  padding-bottom: 20px;

  &::before {
    content: "";
    display: block;
    width: 434px;
    height: 400px;
    background-image:
      image-set(
        url("../../img/about/about-background-mobile.webp") type("image/webp") 1x,
        url("../../img/about/about-background-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/about/about-background-mobile.jpg") type("image/jpg") 1x,
        url("../../img/about/about-background-mobile@2x.jpg") type("image/jpg") 2x);
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 60px 48px 42px 0;

    &::before {
      display: flex;
      align-self: center;
      width: 450px;
      height: 350px;
      margin-bottom: 62px;
      background-image:
        image-set(
          url("../../img/about/about-background-tablet.webp") type("image/webp") 1x,
          url("../../img/about/about-background-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/about/about-background-tablet.jpg") type("image/jpg") 1x,
          url("../../img/about/about-background-tablet@2x.jpg") type("image/jpg") 2x);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 100px 120px 100px 0;

    &::before {
      width: 660px;
      height: 498px;
      margin-bottom: 0;
      background-image:
        image-set(
          url("../../img/about/about-background-desktop.webp") type("image/webp") 1x,
          url("../../img/about/about-background-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/about/about-background-desktop.jpg") type("image/jpg") 1x,
          url("../../img/about/about-background-desktop@2x.jpg") type("image/jpg") 2x);
    }
  }
}

.about__container {
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 270px;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 660px;
    padding-top: 45px;
  }
}

.about__container h2 {
  position: relative;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 42px;

  &::before {
    content: attr(data-title);
    position: absolute;
    font-size: 26px;
    line-height: 26px;
    opacity: 3%;
    bottom: 12px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 48px;

    &::before {
      font-size: 40px;
      line-height: 40px;
      bottom: 5px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 59px;

    &::before {
      font-size: 55px;
      line-height: 55px;
      bottom: 19px;
    }
  }
}

.about__container h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 16px;
  }
}

.about__container p {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 26px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 585px;

    &:not(:last-child) {
      margin-bottom: 29px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 22px;
  }
}
