.hero__swiper .hero__slide {
  width: 100%;
  height: auto;
  background: #6995c9;
  padding-top: 40px;
  padding-bottom: 36px;
  position: relative;
  z-index: -1;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 242px;
    padding-bottom: 357px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding-top: 101px;
    padding-bottom: 80px;
  }
}

.hero__slide--kamchatka {
  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 562px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
    padding-bottom: 248px;
  }
}

.hero__description {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  min-height: 472px;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 99px;
    min-height: 390px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    min-height: 342px;
    margin: 0;
    max-width: 1440px;
  }
}

.hero__description h2 {
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    max-width: 944px;
    font-size: 77px;
    line-height: 77px;
    margin-bottom: 23px;
  }
}

.hero__description p {
  margin: 0;
  font-size: 15px;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    max-width: 464px;
    margin: 0;
    margin-bottom: 37px;
  }
}

.hero__image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(112.1deg, hsla(228, 46%, 11%, 0.3) 17.2%, hsla(228, 46%, 11%, 0) 94.9%);
  }

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__container {
  position: relative;
}

.hero__decor {
  display: none;
  position: relative;
  margin: 0 auto;
  width: 442px;
  margin-top: 45px;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    margin-top: 0;
    position: absolute;
    top: 187px;
    right: 120px;
  }
}

.hero__decor-img {
  display: block;
  position: absolute;
  z-index: -1;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.hero__decor-img--bottom {
  top: 0;
  left: 0;

  @media (min-width: $desktop-width) {
    width: 308px;
  }
}

.hero__decor-img--top {
  top: 53px;
  right: 0;

  @media (min-width: $desktop-width) {
    width: 277px;
    top: 93px;
  }
}

.hero__button {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.hero__details {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 134px;
  }
}

.hero__detail {
  display: flex;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  font-size: 12px;
  line-height: 16px;
  padding: 13px 19px 13px 20px;
  color: #ffffff;
  gap: 8px;
  align-items: center;

  &--days::before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background-image: url("/__spritemap#sprite-moon-view");
  }

  &--level::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url("/__spritemap#sprite-level-view");
  }
}

.hero__pagination-container {
  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 92px;
    z-index: 2;
    font-size: 0;
    line-height: 0;
    width: 1440px;
    min-height: 20px;
    display: flex;
    justify-content: flex-end;
  }
}

.hero .hero__pagination {
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-active-background: #ffffff;
  --swiper-theme-color: #ffffff;
  --swiper-pagination-bottom: 35px;

  @media (min-width: $tablet-width) {
    --swiper-pagination-bullet-width: 20px;
    --swiper-pagination-bullet-height: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    max-width: 400px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: end;
    position: unset;

    --swiper-pagination-bottom: 0;
    --swiper-pagination-bullet-horizontal-gap: 0;
  }
}
