.process__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 19px;
  }
}

.process__list {
  @include list;

  font-size: 12px;
  line-height: 18px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 2px;
    height: 84%;
    background: #0266c1;
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 104px 174px;
    grid-template-columns: 232px 272px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 0;

    &::before {
      display: block;
      width: calc(100% - 21px);
      height: 2px;
      left: 21px;
      top: unset;
      transform: translateY(0);
      bottom: 12px;
    }
  }
}

.process__item {
  padding-left: 63px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 8px 10px 22px 45px;
  }

  &:not(:last-child) {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      max-width: 253.3px;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0266c1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      top: unset;
      transform: translateY(0);
      left: 20px;
      bottom: 6px;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 29px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: 0;
      top: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: 10px;
      top: 10px;
    }
  }
}

.process__item--map {
  &::after {
    background-image: url("/__spritemap#sprite-map-view");
  }
}

.process__item--trees {
  br {
    display: none;
  }

  &::after {
    content: "";
    background-image: url("/__spritemap#sprite-trees-view");
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }

    &::before {
      left: 0;
    }
  }
}

.process__item--boots {
  &::after {
    background-image: url("/__spritemap#sprite-boots-view");
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.process__item--mountains {
  br {
    display: none;
  }

  &::after {
    background-image: url("/__spritemap#sprite-mountains-view");
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 243px;

    br {
      display: block;
    }
  }
}

.process .process__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
