.process__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 100px;
  }
}

.process__list {
  @include list;

  font-size: 12px;
  line-height: 18px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 2px;
    height: 84%;
    background: #0266c1;
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 104px 174px;
    grid-template-columns: 232px 272px;

    &::before {
      display: none;
    }
  }
}

.process__item {
  padding-left: 63px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
  }

  &:not(:last-child) {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0266c1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.process__item--map {
  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("../__spritemap#sprite-map-view");
    position: absolute;
    top: 0;
    left: 29px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: 0;
      top: 2px;
    }
  }
}

.process__item--trees {
  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("../__spritemap#sprite-trees-view");
    position: absolute;
    top: 0;
    left: 29px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    &::after {
      left: 0;
      top: 2px;
    }
  }
}

.process__item--boots {
  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("../__spritemap#sprite-boots-view");
    position: absolute;
    top: 0;
    left: 29px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    &::after {
      left: 0;
      top: 2px;
    }
  }
}

.process__item--mountains {
  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("../__spritemap#sprite-mountains-view");
    position: absolute;
    top: 0;
    left: 29px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    &::after {
      left: 0;
      top: 2px;
    }
  }
}

.process .process__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }
}
