.reviews {
  padding-top: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 145px;
    padding-bottom: 73px;
  }
}

.reviews__container {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.reviews__title {
  position: relative;
  margin: 0;

  @media (min-width: $desktop-width) {
    &::before {
      bottom: 19px;
    }
  }
}

.reviews__navigation {
  display: none;
  gap: 4px;
  justify-content: end;

  &:focus-visible {
    outline: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.reviews__navigation-prev,
.reviews__navigation-next {
  @include swiper-button;
}

.reviews .reviews__swiper {
  padding: 5px 15px 2px;
  width: 320px;

  @media (min-width: $tablet-width) {
    padding: 14px 45px;
    width: unset;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 130px;
  }
}

.reviews__wrapper {
  min-height: 502px;

  @media (min-width: $tablet-width) {
    min-height: unset;
  }
}

.reviews__wrapper .reviews__slide {
  @media (min-width: $tablet-width) {
    width: unset;
  }
}

.reviews__wrapper .reviews__inner {
  max-width: 290px;
  padding: 19px 19px 16px;
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 0 20px 0 hsla(224, 61%, 28%, 0.1);

  @media (min-width: $tablet-width) {
    max-width: 565px;
    display: flex;
    gap: 30px;
    padding: 19px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
  }
}

.reviews__image {
  display: block;
  width: 250px;
  height: 169px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    width: 186px;
    height: 237px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 258px;
    height: 253px;
  }
}

.reviews__image img {
  display: block;
  width: 250px;
  height: 169px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 186px;
    height: 237px;
  }

  @media (min-width: $desktop-width) {
    width: 258px;
    height: 253px;
  }
}

.reviews__text {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -2px;
  }
}

.reviews__text p {
  font-size: 12px;
  line-height: 18px;
  margin: 0;

  + p {
    margin-top: 10px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;

    + p {
      margin-top: 0;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;

    + p {
      margin-top: 10px;
    }
  }
}

.reviews__author {
  font-size: 12px;
  line-height: 12px;
  margin-top: 16px;

  h3 {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
  }

  p {
    font-weight: 300;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: auto;

    h3 {
      font-size: 13px;
      line-height: 13px;
      margin-bottom: 4px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;

    h3 {
      margin-bottom: 8px;
    }

    p {
      font-size: 12px;
      line-height: 12px;
    }
  }
}
