.swiper-pagination-bullet {
  border: 1px solid #ffffff;

  &:hover {
    border: 1px solid #ffffff;
    background: #d9d9d9;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid hsla(0, 0%, 100%, 0.5);
    outline-offset: 2px;
  }

  &:active {
    border: 1px solid #ffffff;
    background: hsla(0, 0%, 100%, 0.5);
  }
}
