.tours {
  padding: 39px 0 20px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 346px;
    height: 595px;
    background-image:
      image-set(
        url("../../img/tours/clouds-1-mobile.webp") type("image/webp") 1x,
        url("../../img/tours/clouds-1-mobile@2x.webp") type("image/webp") 2x,
        url("../../img/tours/clouds-1-mobile.png") type("image/png") 1x,
        url("../../img/tours/clouds-1-mobile@2x.png") type("image/png") 2x
      );
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: -205px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding: 60px 0 40px;

    &::after {
      margin-top: -474px;
      padding-top: 474px;
      width: 602px;
      height: 1630px;
      background-image:
        image-set(
          url("../../img/tours/clouds-1-tablet.webp") type("image/webp") 1x,
          url("../../img/tours/clouds-1-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/tours/clouds-1-tablet.png") type("image/png") 1x,
          url("../../img/tours/clouds-1-tablet@2x.png") type("image/png") 2x
        );
      background-position: 0px 382px;
      top: 0;
      right: -177px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 123px 0 100px;

    &::after {
      top: -34px;
      right: 0;
    }
  }
}

.tours__title {
  position: relative;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.tours__container {
  position: relative;
}

.tours__navigation {
  display: none;
  gap: 4px;
  justify-content: end;
  position: absolute;
  right: 45px;
  top: 0;

  &:focus-visible {
    outline: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    right: 120px;
    top: -3px;
  }
}

.tours__navigation-prev,
.tours__navigation-next {
  @include swiper-button;
}

.tours__wrapper {
  margin-bottom: 25px;

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.tours .tours__slide {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: auto;
  min-height: 416px;
  background: #6995c9;
  position: relative;
  z-index: -1;
  padding: 30px 20px;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
}

.tours__image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.6) 22.3%, hsla(0, 0%, 0%, 0) 60.3%);
  }

  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tours__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  align-items: center;
  margin-bottom: 16px;
  row-gap: 12px;
  justify-content: space-between;
}

.tours__location {
  padding: 8px 13px 8px 34px;
  background-color: #0266c1;
  background-image: url("/__spritemap#sprite-location-view");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 12px center;
}

.tours__days,
.tours__nights {
  padding: 4px 0 4px 32px;
}

.tours__days {
  margin-right: 11px;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("/__spritemap#sprite-sun-view");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}

.tours__nights {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("/__spritemap#sprite-moon-view");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
}

.tours__name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    position: absolute;
    bottom: -15px;
    background: hsla(0, 0%, 100%, 0.2);
  }

  @media (min-width: $desktop-width) {
    max-width: 233px;
  }
}

.tours__summary {
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  justify-content: space-between;
}

.tours__summary-level,
.tours__summary-date,
.tours__summary-group {
  display: flex;
  flex-direction: column;
}

.tours__summary-level {
  gap: 4px;
  width: max-content;
}

.tours__summary-stars {
  display: flex;
  gap: 1px;
}

.tours__summary-full {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/__spritemap#sprite-star-full-view");
}

.tours__summary-empty {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/__spritemap#sprite-star-empty-view");
}

.tours__summary-date,
.tours__summary-group {
  gap: 7px;

  span + span {
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
  }
}

.tours__summary-date {
  min-width: 83px;
}

.tours__link {
  display: block;
  max-width: 212px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.55px;
  color: #2d383f;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 28px 10px 10px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 9px;
    height: 14px;
    mask-image: url("/__spritemap#sprite-arrow-right-view");
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    background-color: #2d383f;
  }

  &:hover {
    color: hsla(209, 98%, 38%, 0.1);

    &::after {
      background-color: hsla(209, 98%, 38%, 0.1);
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    color: #0266c1;

    &::after {
      background-color: #0266c1;
    }
  }

  &:active {
    color: #1c3374;

    &::after {
      background-color: #1c3374;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: max-content;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.6px;
    padding: 11px 248.5px 9px 230.5px;

    &::after {
      right: 227.5px;
    }
  }
}

.tours__link--disabled,
.tours__link:disabled {
  color: #999999;
  pointer-events: none;

  &::after {
    background-color: #999999;
  }
}
